.detailsFormContainer {
  margin-top: 64px;
}

.formHeader {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
}

.formDescription {
  font-size: 16px;
  color: #60646c;
}
.firstRowForm {
  display: flex;
  justify-content: center;
}

.firstRowForm1 {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.inputField {
  width: 100%;
  border-radius: 12px;
  padding: 10px;
}

.inputField::placeholder {
  color: grey; /* Placeholder text color */
  font-family: Open Sans; /* Placeholder font family */
  font-size: 1em; /* Placeholder font size */
}
.selectField {
  color: grey; /* Placeholder text color */
  font-family: Open Sans; /* Placeholder font family */
  font-size: 13px; /* Placeholder font size */
}

.inputField {
  width: 100%;
  /* border-radius: 15px; */
  /* border-color: #60646c; */
  /* border-color: red; */
  border: 1px solid #b9bbc6;
  padding: 15px;
  color: black; /* Input text color */
}

.bottomRow {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* padding: 10px; */
}

.twoItems {
  width: 46.5%;
}
.twoItemsMain {
  width: 44.5%;
}

/* Existing styles */
/* Add your existing CSS here */

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  /* or another breakpoint like 600px */
  .twoItems,
  .twoItemsMain {
    width: 88%; /* Make input fields take full width */
  }

  .bottomRow {
    flex-direction: column; /* Stack the input fields vertically */
  }

  /* Adjust the margin for stacked fields if necessary */
  .bottomRow .inputField:not(:first-child) {
    margin-top: 15px; /* Add margin-top to every inputField except the first */
  }
}
